:root{
    --color-primary: #8C2370 ;
    --color-primary-light: #139DF2  ;
    --color-secondary: #011126 ;
    --color-secondary-light: #021859 ;
    --color-tertiary: #22B7F2;
   
    --default-font: 'Montserrat', sans-serif;
   }