:root{
    --color-primary: #0d0d0d ;
    --color-primary-light: #595959  ;
    --color-secondary: #8C8C8C ;
    --color-secondary-light: #BFBFBF ;
    --color-tertiary: #F2F2F2;
   
    --default-font: 'Montserrat', sans-serif;
   }


/*******************
    PALETA DE CORES:

        #0D0D0D
        #595959
        #8C8C8C
        #BFBFBF
        #F2F2F2

*******************/

