:root{
    --color-primary: #9e9496 ;
    --color-primary-light: #323133  ;
    --color-secondary: #46474b ;
    --color-secondary-light: #67676a ;
    --color-tertiary: #151517;
   
    --default-font: 'Montserrat', sans-serif;
   }


/*******************
    PALETA DE CORES:

        #9e9496
        #323133
        #46474b
        #67676a
        #151517

*******************/

