@import url("/css/vars.css");
@import url("/css/common.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,body {
    height: 100vh;
    font-family: var(--default-font);

}

body{
    font-size: 1.6rem;
}

header {
    background-color: var(--color-secondary);
  }
  
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 90%;
    max-width: 980px;
    
    margin: auto;
  }
  
  header h1 {
    width: 150px;
    margin-left: 20px;
    padding: 15px 0;
  }
  
  header nav ul {
    display: flex;
  }
  
  header nav ul li {
    list-style: none;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 1.4rem; 
    padding: 2.4rem;
    transition: all 250ms linear 0s;
  }
  
  header nav ul li a:hover {
    background: rgba(255,255,255, 0.15)
  }

  .button {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    margin: 15px 0px 0px;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 150ms linear 0s;
  }
  
  .button:hover {
    opacity: 0.9;
  }


  /******ABOUT*****/
  section.about {
    margin: 80px 0;
  }
  
  section.about .container {
    width: 90%;
    max-width: 980px;
  
    margin: auto;
  
    display: flex;
    align-items: center;
  }

  section.about .container img {
    width: 70%;
    border-radius: 50%;
  }
  
  section.about p {
    color: var(--color-primary);
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin: 10px 0px 0px;
  }


/******** 
MAIN
********/

main {
  text-align: center;
  margin-bottom: 80px;
}

main div.title-pdt {
 width: 100%;
 margin: 30px 0;
}


.products {
  width: 90%;
  max-width: 980px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.text--medium {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: var(--color-primary);
}

.product {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary-light);
  cursor: pointer;
  transition: all 0.3s ease 0s;

}

.product:hover {
  transform: translateY(-7px);
}

.image {
  width: 100%;
  padding-top: 56.25%; /* 16:9 */

  overflow: hidden;
  position: relative;
}

.image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin: 20px;
}

.title {
  margin-bottom: 20px;
}

.info {
  display: flex;
  align-self: end;
  align-items: center;
}

.price {
  margin-left: auto;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--color-tertiary);
  filter: brightness(90%);
}

/*=============== 
FORM
==================*/
#form {
  width:100%;

  background: var(--color-tertiary);
  padding: 80px 0;
  margin:0;

  display:flex;
  align-items: center;
  justify-content: center;
}

#form form {
  width: 90%;
  max-width: 980px;

  background: var(--color-secondary);
  
  padding: 40px;
  
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15), 
    0px 10px 20px -10px rgba(0, 0, 0, 0.1)
}

#form h3 {
  margin-bottom: 30px
}

#form form label {
  display: none;
}

.form-group {
  display: flex;
  flex-direction: row;
}

.form-group label.right-inline {
  text-align: right;  
  padding-right: 8px;
  padding-left: 10px;
  width: auto;
}

.form-group .input-control {
  flex: 1 1;
  display: block;
  margin: -4px 8px 10px;
  padding: 12px;
  font-size: 1.6rem;
}

#form .button {
  margin: 20px 8px 10px;
  background: var(--color-tertiary);
}


/********
GALLERY 
********/

#gallery {
  display: grid;
  place-items: center;
  height: 100vh;
}

#items-wrapper {
  width: 100vw;
}

#items {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.item {
  flex: none;

  width: 100%;
  height: 1440px;

  scroll-snap-align: start;

  pointer-events: none;
}

.item img{
  width: 100%;
  height: 100%;

  object-fit: cover;
}



@media (max-width: 630px) {

  .about .container {
      flex-direction: column;
      text-align: center;
  }

  .about .container img {
      order: -1;
  }

  .form-group {
      display: block;
    }
  }

  @media (max-width: 540px) {
    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: var(--color-primary);
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    /* fullscreen */
    .menu-section.on {
        position: absolute;
        top:0;
        left:0;       
        width: 100vw;
        height: 100vh;

        background-color: var(--color-secondary);
        
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;
        
    }

}
